<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <p>It appears your email has not been verified.</p>
  <p>
    <a class="send_validation_email" href="#" forum-id="1">Click here to send a verification email allowing you to participate to the forum.</a>
  </p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>