<div class="forum-header">
  <h2 class="forum-header__title">
    <span class="forum-header__count-post">4</span> вопроса
  </h2>
  <div class="forum-header__sort dropdown">
    <button class="forum-header__dropdown-toggle dropdown-toggle" type="button" id="sort-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      по дате активности
    </button>
    <ul class="forum-header__dropdown-menu dropdown-menu dropdown-menu-right">
      <li class="dropdown-header">Фильтр включен</li>
      <li class="active">
        <a href="?filters=all">Все</a>
      </li>
      <li>
        <a href="?filters=unanswered">Не отвечено</a>
      </li>
      <li class="dropdown-header">Сортировать по</li>
      <li>
        <a href="?sorting=relevancy+desc">Актуальность</a>
      </li>
      <li class="active">
        <a href="?sorting=write_date+desc">Дата последней активности</a>
      </li>
      <li>
        <a href="?sorting=create_date+desc">Свежайшее</a>
      </li>
      <li>
        <a href="?sorting=child_count+desc">Больше всего ответов</a>
      </li>
      <li>
        <a href="?sorting=vote_count+desc">Больше всего голосов</a>
      </li>
    </ul>
  </div>
</div>