<div class="forum_intro">
  <div>
    <section class="bg-info" style="height: 168px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center" style="text-align: left;">Welcome!</h1>
            <p class="text-muted text-center" style="text-align: left;">This community is for professionals and enthusiasts of our products and services. Share and discuss the best
              content and new marketing ideas, build your professional profile and become a better marketer together.</p>
          </div>
          <div class="col-md-12">
            <a href="#" class="js_close_intro">Hide Intro</a>
            <a class="btn btn-primary forum_register_url" href="/web/login">Register</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container mt16 website_forum">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#oe-help-navbar-collapse">
        <span class="sr-only">Переключение навигации</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/forum/1">
        <span>Помощь</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="oe-help-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/forum/1?sorting=relevancy+desc">Тренды</a>
        </li>
        <li>
          <a href="/forum/1?sorting=create_date+desc">Свежайшее</a>
        </li>
        <li>
          <a href="/forum/1/users">Люди</a>
        </li>
        <li>
          <a href="/forum/1/tag">Теги</a>
        </li>
        <li>
          <a href="/forum/1/badge">Значки</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li>
          <form class="navbar-form" role="search" method="get" action="/forum/1">

            <div class="input-group">
              <div class="oe_search">
                <input type="text" name="search" class="search-query form-control oe_search_box" placeholder="Поиск..." value="" />
              </div>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default oe_search_button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>


          </form>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="wrap" class="container">
  <div class="row mb16">
    <div class="col-sm-9">




      <h2 class="page-header mt0">
        5
        <span> Посты </span>




        <small class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">




            по дате активности



            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Фильтр включен</li>
            <li class="active">
              <a href="?filters=all">Все</a>
            </li>
            <li>
              <a href="?filters=unanswered">Не отвечено</a>
            </li>



            <li class="dropdown-header">Сортировать по</li>
            <li>
              <a href="?sorting=relevancy+desc">Актуальность</a>
            </li>
            <li class="active">
              <a href="?sorting=write_date+desc">Дата последней активности</a>
            </li>
            <li>
              <a href="?sorting=create_date+desc">Свежайшее</a>
            </li>
            <li>
              <a href="?sorting=child_count+desc">Больше всего ответов</a>
            </li>
            <li>
              <a href="?sorting=vote_count+desc">Больше всего голосов</a>
            </li>
          </ul>
        </small>
      </h2>
      <div class="mb16">

        <div class="question">
          <div class="pull-left">







            <div class="vote text-center">
              <a class="vote_up fa fa-caret-up no-decoration  karma_required" data-karma="5" data-href="/forum/1/post/how-to-configure-alerts-for-employee-contract-expiration-1/upvote"></a>
              <div class="vote_count text-muted">1</div>
              <a class="vote_down fa fa-caret-down no-decoration  karma_required" data-karma="50" data-href="/forum/1/post/how-to-configure-alerts-for-employee-contract-expiration-1/downvote"></a>



            </div>

          </div>

          <div class="question-block">
            <div class="question-name">
              <a href="/forum/1/question/how-to-configure-alerts-for-employee-contract-expiration-1">
                <span>How to configure alerts for employee contract expiration</span>
              </a>






            </div>
            <div></div>

            <a href="/forum/1/tag/contract-1/questions">
              <span style="margin-right: 4px;" class="pull-right label label-default">Contract</span>
            </a>

            <a href="/forum/1/tag/action-2/questions">
              <span style="margin-right: 4px;" class="pull-right label label-default">Action</span>
            </a>

            <small class="text-muted">
              <i class="fa fa-question-circle" title="Question"></i>


              <span>По </span>
              <span data-oe-many2one-id="1" data-oe-many2one-model="res.users" data-oe-contact-options="{&quot;expression&quot;: &quot;question.create_uid&quot;, &quot;translate&quot;: false, &quot;type&quot;: &quot;contact&quot;, &quot;country_image&quot;: true, &quot;inherit_branding&quot;: null, &quot;widget&quot;: &quot;contact&quot;, &quot;tagName&quot;: &quot;span&quot;, &quot;fields&quot;: [&quot;name&quot;, &quot;country_id&quot;]}"
                style="display: inline-block;">
                <address class="mb0" itemscope="itemscope" itemtype="http://schema.org/Organization">



                  <div>

                    <span itemprop="name">Administrator</span>


                    <div>
                      <span>
                        <img class="img img-responsive country_flag" src="/web/image/res.country/190/image?unique=34c69e1" style="" />
                      </span>
                    </div>
                  </div>


                  <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">







                  </div>
                  <div>



                  </div>


                </address>
              </span>
              <span> • </span>
              <span data-oe-original="2018-01-28 02:44:22">28.01.18, 2:44</span>
              <span> • </span>
              <span>7</span> Видs
              <span> • </span>
              <a href="/forum/1/question/how-to-configure-alerts-for-employee-contract-expiration-1">

                1 Ответ


              </a>

            </small>
          </div>

        </div>

      </div>
      <div class="mb16">

        <div class="question">
          <div class="pull-left">







            <div class="vote text-center">
              <a class="vote_up fa fa-caret-up no-decoration  karma_required" data-karma="5" data-href="/forum/1/post/discover-odoo-an-open-source-erp-5/upvote"></a>
              <div class="vote_count text-muted">2</div>
              <a class="vote_down fa fa-caret-down no-decoration  karma_required" data-karma="50" data-href="/forum/1/post/discover-odoo-an-open-source-erp-5/downvote"></a>



            </div>

          </div>

          <div class="question-block">
            <div class="question-name">
              <a href="/forum/1/question/discover-odoo-an-open-source-erp-5">
                <span>Discover Odoo, an open source ERP.</span>
              </a>





              <a title="Перенаправление на внешнюю ссылку" class="text-muted" href="https://www.odoo.com">
                <i class="fa fa-external-link forum_link"></i>
              </a>


            </div>
            <div></div>

            <a href="/forum/1/tag/development-4/questions">
              <span style="margin-right: 4px;" class="pull-right label label-default">Development</span>
            </a>

            <small class="text-muted">


              <i class="fa fa-link" title="Link"></i>
              <span>По </span>
              <span data-oe-many2one-id="1" data-oe-many2one-model="res.users" data-oe-contact-options="{&quot;expression&quot;: &quot;question.create_uid&quot;, &quot;translate&quot;: false, &quot;type&quot;: &quot;contact&quot;, &quot;country_image&quot;: true, &quot;inherit_branding&quot;: null, &quot;widget&quot;: &quot;contact&quot;, &quot;tagName&quot;: &quot;span&quot;, &quot;fields&quot;: [&quot;name&quot;, &quot;country_id&quot;]}"
                style="display: inline-block;">
                <address class="mb0" itemscope="itemscope" itemtype="http://schema.org/Organization">



                  <div>

                    <span itemprop="name">Administrator</span>


                    <div>
                      <span>
                        <img class="img img-responsive country_flag" src="/web/image/res.country/190/image?unique=34c69e1" style="" />
                      </span>
                    </div>
                  </div>


                  <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">







                  </div>
                  <div>



                  </div>


                </address>
              </span>
              <span> • </span>
              <span data-oe-original="2018-01-28 02:16:34">28.01.18, 2:16</span>
              <span> • </span>
              <span>8</span> Видs
              <span> • </span>
              <a href="/forum/1/question/discover-odoo-an-open-source-erp-5">

                0 Комментарий

              </a>

            </small>
          </div>

        </div>

      </div>
      <div class="mb16">

        <div class="question">
          <div class="pull-left">







            <div class="vote text-center">
              <a class="vote_up fa fa-caret-up no-decoration  karma_required" data-karma="5" data-href="/forum/1/post/cms-replacement-for-erp-and-ecommerce-2/upvote"></a>
              <div class="vote_count text-muted">0</div>
              <a class="vote_down fa fa-caret-down no-decoration  karma_required" data-karma="50" data-href="/forum/1/post/cms-replacement-for-erp-and-ecommerce-2/downvote"></a>



            </div>

          </div>

          <div class="question-block">
            <div class="question-name">
              <a href="/forum/1/question/cms-replacement-for-erp-and-ecommerce-2">
                <span>CMS replacement for ERP and eCommerce</span>
              </a>






            </div>
            <div></div>

            <a href="/forum/1/tag/ecommerce-3/questions">
              <span style="margin-right: 4px;" class="pull-right label label-default">ecommerce</span>
            </a>

            <small class="text-muted">
              <i class="fa fa-question-circle" title="Question"></i>


              <span>По </span>
              <span data-oe-many2one-id="1" data-oe-many2one-model="res.users" data-oe-contact-options="{&quot;expression&quot;: &quot;question.create_uid&quot;, &quot;translate&quot;: false, &quot;type&quot;: &quot;contact&quot;, &quot;country_image&quot;: true, &quot;inherit_branding&quot;: null, &quot;widget&quot;: &quot;contact&quot;, &quot;tagName&quot;: &quot;span&quot;, &quot;fields&quot;: [&quot;name&quot;, &quot;country_id&quot;]}"
                style="display: inline-block;">
                <address class="mb0" itemscope="itemscope" itemtype="http://schema.org/Organization">



                  <div>

                    <span itemprop="name">Administrator</span>


                    <div>
                      <span>
                        <img class="img img-responsive country_flag" src="/web/image/res.country/190/image?unique=34c69e1" style="" />
                      </span>
                    </div>
                  </div>


                  <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">







                  </div>
                  <div>



                  </div>


                </address>
              </span>
              <span> • </span>
              <span data-oe-original="2018-01-28 02:16:29">28.01.18, 2:16</span>
              <span> • </span>
              <span>10</span> Видs
              <span> • </span>
              <a href="/forum/1/question/cms-replacement-for-erp-and-ecommerce-2">

                1 Ответ


              </a>

            </small>
          </div>

        </div>

      </div>
      <div class="mb16">

        <div class="question">
          <div class="pull-left">







            <div class="vote text-center">
              <a class="vote_up fa fa-caret-up no-decoration  karma_required" data-karma="5" data-href="/forum/1/post/how-to-setup-a-regular-postgresql-database-backup-6/upvote"></a>
              <div class="vote_count text-muted">2</div>
              <a class="vote_down fa fa-caret-down no-decoration  karma_required" data-karma="50" data-href="/forum/1/post/how-to-setup-a-regular-postgresql-database-backup-6/downvote"></a>



            </div>

          </div>

          <div class="question-block">
            <div class="question-name">
              <a href="/forum/1/question/how-to-setup-a-regular-postgresql-database-backup-6">
                <span>How to setup a regular PostgreSQL database backup</span>
              </a>






            </div>
            <div></div>

            <small class="text-muted">

              <i class="fa fa-comments-o" title="Discussion"></i>

              <span>По </span>
              <span data-oe-many2one-id="1" data-oe-many2one-model="res.users" data-oe-contact-options="{&quot;expression&quot;: &quot;question.create_uid&quot;, &quot;translate&quot;: false, &quot;type&quot;: &quot;contact&quot;, &quot;country_image&quot;: true, &quot;inherit_branding&quot;: null, &quot;widget&quot;: &quot;contact&quot;, &quot;tagName&quot;: &quot;span&quot;, &quot;fields&quot;: [&quot;name&quot;, &quot;country_id&quot;]}"
                style="display: inline-block;">
                <address class="mb0" itemscope="itemscope" itemtype="http://schema.org/Organization">



                  <div>

                    <span itemprop="name">Administrator</span>


                    <div>
                      <span>
                        <img class="img img-responsive country_flag" src="/web/image/res.country/190/image?unique=34c69e1" style="" />
                      </span>
                    </div>
                  </div>


                  <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">







                  </div>
                  <div>



                  </div>


                </address>
              </span>
              <span> • </span>
              <span data-oe-original="2018-01-28 02:16:27">28.01.18, 2:16</span>
              <span> • </span>
              <span>8</span> Видs
              <span> • </span>
              <a href="/forum/1/question/how-to-setup-a-regular-postgresql-database-backup-6">

                1 Комментарий

              </a>

            </small>
          </div>

        </div>

      </div>
      <div class="mb16">

        <div class="question">
          <div class="pull-left">







            <div class="vote text-center">
              <a class="vote_up fa fa-caret-up no-decoration  karma_required" data-karma="5" data-href="/forum/1/post/8/upvote"></a>
              <div class="vote_count text-muted">2</div>
              <a class="vote_down fa fa-caret-down no-decoration  karma_required" data-karma="50" data-href="/forum/1/post/8/downvote"></a>



            </div>

          </div>

          <div class="question-block">
            <div class="question-name">
              <a href="/forum/1/question/8">
                <span>Задаю вопрос</span>
              </a>






            </div>
            <div></div>

            <a href="/forum/1/tag/5/questions">
              <span style="margin-right: 4px;" class="pull-right label label-default">ВОпрос</span>
            </a>

            <small class="text-muted">
              <i class="fa fa-question-circle" title="Question"></i>


              <span>По </span>
              <span data-oe-many2one-id="8" data-oe-many2one-model="res.users" data-oe-contact-options="{&quot;expression&quot;: &quot;question.create_uid&quot;, &quot;translate&quot;: false, &quot;type&quot;: &quot;contact&quot;, &quot;country_image&quot;: true, &quot;inherit_branding&quot;: null, &quot;widget&quot;: &quot;contact&quot;, &quot;tagName&quot;: &quot;span&quot;, &quot;fields&quot;: [&quot;name&quot;, &quot;country_id&quot;]}"
                style="display: inline-block;">
                <address class="mb0" itemscope="itemscope" itemtype="http://schema.org/Organization">



                  <div>

                    <span itemprop="name">Александр</span>



                  </div>


                  <div itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">







                  </div>
                  <div>



                  </div>


                </address>
              </span>
              <span> • </span>
              <span data-oe-original="2018-01-27 16:55:26">27.01.18, 16:55</span>
              <span> • </span>
              <span>18</span> Видs
              <span> • </span>
              <a href="/forum/1/question/8">

                2 Ответs


              </a>

            </small>
          </div>

        </div>

      </div>




    </div>
    <div class="col-sm-3" id="right-column">
      <div class="btn-group btn-block mb16 " data-karma="3">

        <a type="button" class="btn btn-primary btn-lg col-sm-10" href="/forum/1/ask?post_type=question">
          Задать вопрос


        </a>

        <button type="button" class="btn btn-primary btn-lg col-sm-2 dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Выберите публикацию</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="/forum/1/ask?post_type=question">Задать вопрос</a>
          </li>
          <li>
            <a href="/forum/1/ask?post_type=link">Отправить ссылку</a>
          </li>
          <li>
            <a href="/forum/1/ask?post_type=discussion">Новое обсуждение</a>
          </li>
        </ul>

      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Держать в курсе</h3>
        </div>
        <div class="panel-body">

          <div class="input-group js_follow" data-id="1" data-object="forum.forum" data-follow="off">
            <input type="email" name="email" class="js_follow_email form-control" placeholder="ваш электронный адрес..." />
            <span class="input-group-btn">
              <button href="#" class="btn btn-default js_unfollow_btn">Отписаться</button>
              <button href="#" class="btn btn-primary js_follow_btn">Подписаться</button>
            </span>
          </div>

        </div>
      </div>
      <div class="panel panel-default" id="about_forum">
        <div class="panel-heading">
          <h3 class="panel-title">Об этом сообществе</h3>
        </div>
        <div class="panel-body">
          <span>Это сообщество для профессионалов и энтузиастов наших продуктов и услуг. Делитесь и обсуждайте лучший контент и
            новые маркетинговые идеи, построите свой профессиональный профиль и станьте лучшим маркетологом вместе.
          </span>
          <a class="fa fa-arrow-right" href="/forum/1/faq"> Читать руководство</a>

        </div>
      </div>


    </div>
  </div>
</div>
<div class="oe_structure"></div>