// $enable-caret:              true !default;
$enable-rounded:            false;
$enable-shadows:            true;
// $enable-gradients:          false !default;
// $enable-transitions:        true !default;
// $enable-hover-media-query:  false !default;
// $enable-grid-classes:       true !default;
// $enable-print-styles:       true !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$body-bg:    $gray-200;
$body-color: #292b2c;

$component-active-color:      #333;
$component-active-bg:         #eee;

$block-bg: #fff;

$breadcrumb-bg:  transparent;

$main-color: #875a7b;
$accent-color: #00a09d;

$dropdown-link-hover-bg:    $gray-200;

$box-shadow: 0 1px 2px rgba(0,0,0,.1);
$box-shadow-hover: -2px 4px 4px rgba(0,0,0,.1);

$link-color:                $main-color;

.box-block {
    background-color: $block-bg;
    box-shadow: $box-shadow;
    // z-index: -10;
}

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base:              1rem;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 1.5 !default;
$h3-font-size:                $font-size-base * 1.25 !default;
$h4-font-size:                $font-size-base * 1.125 !default;
$h5-font-size:                $font-size-base !default;
$h6-font-size:                $font-size-base * 0.8 !default;

.light { font-weight: 300; }

// $body-bg: #fff;
// Shadows
$shadow-inset: inset 0 2px 2px 0 rgba(0, 0, 0, .14);
$shadow-0: 0 0 1px rgba(0, 0, 0, 0);
$shadow-2: 0 2px 2px 0 rgba(0, 0, 0, .14),
0 3px 1px -2px rgba(0, 0, 0, .2),
0 1px 5px 0 rgba(0, 0, 0, .12);
$shadow-3: 0 3px 4px 0 rgba(0, 0, 0, .14),
0 3px 3px -2px rgba(0, 0, 0, .2),
0 1px 8px 0 rgba(0, 0, 0, .12);
$shadow-4: 0 4px 5px 0 rgba(0, 0, 0, .14),
0 1px 10px 0 rgba(0, 0, 0, .12),
0 2px 4px -1px rgba(0, 0, 0, .2);
$shadow-6: 0 6px 10px 0 rgba(0, 0, 0, .14),
0 1px 18px 0 rgba(0, 0, 0, .12),
0 3px 5px -1px rgba(0, 0, 0, .2);
$shadow-8: 0 8px 10px 1px rgba(0, 0, 0, .14),
0 3px 14px 2px rgba(0, 0, 0, .12),
0 5px 5px -3px rgba(0, 0, 0, .2);
// Font Sizes
$mf-font-size: 1rem !default;
$mf-active-font-size: $mf-font-size * 0.8 !default;
$mf-active-top: -$mf-font-size !default;
// Margin & Paddings
$mf-gap: $mf-font-size * 1.5 !default;
$mf-spacer: $mf-font-size / 8 !default;
$mf-fieldset-margin: 0 0 $mf-gap * 2 !default;
$mf-checkbox-gap: $mf-font-size * 2 !default;
$mf-checkbox-top: 0 !default;
$mf-radio-margin: $mf-font-size / -4 !default;
// Colors
$mf-input-color: #333 !default;
$mf-border-color: #999 !default;
$mf-label-color: lighten($mf-border-color, 10%) !default;
$mf-active-color: darken($mf-border-color, 10%) !default;
$mf-focus-color: $main-color !default;
$mf-error-color: $accent-color !default;
// Animation
$mf-transition-speed: 0.28s !default;


