<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer-block">
        <h3 class="footer-block__title">Форумы</h3>
        <nav class="footer-block__list">
          <a href="#" class="footer-block__link">Вопросы и ответы</a>
          <a href="#" class="footer-block__link">Полезные ссылки</a>
          <a href="#" class="footer-block__link">Работа сообщества</a>
        </nav>
        <h3 class="footer-block__title">Документация</h3>
        <nav class="footer-block__list">
          <a href="#" class="footer-block__link">Инструкция пользователей</a>
          <a href="#" class="footer-block__link">Документация разработчика</a>
        </nav>
      </div>
      <div class="footer-block">
        <h3 class="footer-block__title">Публикации</h3>
        <nav class="footer-block__list">
          
          <a href="#" class="footer-block__link">Для разработчиков</a>
          <a href="#" class="footer-block__link">Для пользователей</a>
          <a href="#" class="footer-block__link">Внедрения</a>
        </nav>
        <h3 class="footer-block__title">Видео</h3>
        <nav class="footer-block__list">
          <a href="#" class="footer-block__link">О разработке</a>
          <a href="#" class="footer-block__link">Об использовании</a>
        </nav>
      </div>
      <div class="footer-block footer-block_community">
        <img src="/assets/images/logo_open-odoo_white.svg" alt="Сообщество open-odoo.ru" class="footer-block__logo">
        <p class="footer-block__description">Мы - команда работу людей, и наша цель - разработка отличных продуктов, которые делают нашу жизнь лучше. Мы предлагаем
          отличные решения для ваших бизнес-задач.</p>
        <nav class="footer-block__list">
          <a href="#" class="footer-block__link">Новости</a>
          <a href="#" class="footer-block__link">Люди</a>
          <a href="#" class="footer-block__link">Манифест</a>
          <a href="#" class="footer-block__link">Основатели</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class=""></div>
    </div>
  </div>
</footer>